/* ------------------------*/ /* ---------->>> GLOBAL <<<-----------*/ /* ------------------------*/

body {
      font-family: "Times New Roman", Times, serif;
   }


.p   {
         font-size: 3px
    }

.ulist {
        list-style-type: none;
        padding: 0;
      }

/* ------------------------*/ /* ---------->>> STRUCTURE <<<-----------*/ /* ------------------------*/

.container_outer {
         border: 1px solid #E8E8E8;
         box-shadow: 5px 5px 2.5px #E8E8E8;
         height: 540px;
         width: 312px;
      }

.container_inner {
         border: 1px solid #E8E8E8;
         height: 245px;
         padding: 6px 6px 6px 6px;
         width: 290px;
      }

 .padding {
            padding: 3px 3px 3px 3px;
      }

  .border {
            border: 1px solid #E8E8E8;
      }

/* ------------------------*/ /* ---------->>> TYPOGRAPHY <<<-----------*/ /* ------------------------*/


.bold {
      font-weight: bold;
    }

.italic {
      font-style: italic;
    }

/* ------------------------*/ /* ---------->>> IMAGES <<<-----------*/ /* ------------------------*/

 .img {
      height: 200px;
      padding: 3px 3px 3px 3px;
      width: 300px;
    }
