

body {
      font-family: "Times New Roman", Times, serif;
   }

#Bold {
      font-weight: bold;
    }

#Italic {
      font-style: italic;
    }

 #img {
      padding: 1%, 0;
      height: 200px;
      width: 300px;
    }

  #Container_Outer {
      box-shadow: 5px 5px 2.5px #E8E8E8;
      border: 1px solid #E8E8E8;
      width: 210px;
      height: 640px;
    }

  #Container_Inner {
      width: 90%;
      border: 1px solid #E8E8E8;
      padding-left: 8px;
    }

  .ulist {
      list-style-type: none;
      padding: 0;
    }

  .width {
      width: 100%;
    }

  .padding {
      padding: 1% 1% 1% 1%;
    }

  .border {
      padding: 1% 1% 1% 1%;
      border: 1px solid #E8E8E8;
      }

  .p {
        font-size: 3px
      }
